---

---

<div class="bg-zinc-800 relative p-3 h-[500px] flex items-end">
  <div
    class="h-56 w-56 mb-10 rounded-full border-4 border-white overflow-hidden z-20"
  >
    <img
      class="w-full transform translate-y-[-10%]"
      src="/picture.jpg"
      alt=""
    />
  </div>
  <div class="absolute bottom-0 right-0 triangulo-equilatero-bottom-left"></div>
</div>

<style>
  .triangulo-equilatero-bottom-left {
    width: 0;
    height: 0;
    border-right: 50px solid #000;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 200px solid #000;
  }
</style>
